@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.container-home{
    padding-right:20px;
    padding-top:20px;
    background:white;
    font-family:'Roboto', sans-serif;
}
.container-child-home{
    height:100%;
    padding-left:10%;
    padding-right:20px;
    
}
.container-child-home2{
    height:100vh;
    padding-left:10%;
    padding-right:20px;
    background:white;
}

th{
    font-family:'Roboto', sans-serif;
    font-weight:700;
}
td {
    font-family:'Noto Sans', sans-serif;
}
.container-superior-izq{
    float: left;
    padding-right:50%;
}
.container-superior-der{
    display: block;
    float: right;
}
.cuadricula{
    margin-right:-5px;
}
.tabla{
    margin-left:10px;
}
.recibo{
    margin-bottom:10px;
}